<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конвертер валют</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Конвертер валют</h1>

    <div>
        <div class="inline-flex">
            <input id="currencyAValue" type="number" value="1">
            <div class="currency-cont">
                <select class="currency" id="currencyA" >
                    <option selected></option>
                </select>
                <div class="delim"></div>
            </div>
        </div>

        <div class="inline-flex">
            <input id="currencyBValue" type="number">
            <div>
                <select class="currency" id="currencyB">
                    <option></option>
                </select>
                <div class="delim"></div>
            </div>
        </div>

    <div id="graph"></div>
    </div>

    <script>

        <!--   S-ss-sss-senpai. B-bbb-BAKA! Don't look!     -->
        let currency_b_rate = 0;
        let currencyNamesToCodes = {};
        let currencyCodesToNames = {};
        let currencies = {}
        let lastAValue = '';
        let lastBValue = '';
        let currency_a_value_active = false;
        let currency_b_value_active = false;

        const currencyAValue = document.getElementById('currencyAValue')
        const currencyBValue = document.getElementById('currencyBValue')


        function get_currencies_promise() {
            return fetch('/currencies')
        }
        function get_currencies() {
            // Send a GET request to the server endpoint that provides currency data
            get_currencies_promise()
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to fetch currency data');
                    }
                })
                .then(data => {
                     // Reverse the mapping from currency code to currency name
                    for (const code in data) {
                        currencyCodesToNames[code] = data[code];
                    }

                    // Reverse the mapping from currency code to currency name
                    for (const code in data) {
                        const name = data[code];
                        currencyNamesToCodes[name] = code;
                    }

                    currencies = copy_map(currencyNamesToCodes)

                    populate_with_options(currencies, '#currencyA', 1)
                    populate_with_options(currencies, '#currencyB')
                    console.log('got currencies');
                })
                .catch(error => {
                    console.error('Error:', error);
                    console.log('got currencies');
                });
        }

        function populate_with_options(m, elemID, selectedID=0) {
             const currencyBDropdown = document.querySelectorAll(elemID);
                    currencyBDropdown.forEach(select => {
                        select.innerHTML = '';
                        let cnt = 0
                        for (const name in m) {
                            const option = document.createElement('option');
                            option.value = m[name];
                            option.textContent = name;
                            if (cnt === selectedID) {
                                if (elemID === `#currencyA`) {

                                }

                                option.selected = true
                            }
                            cnt++
                            select.appendChild(option);
                        }
                    });
        }

        function get_graph_promise() {
            // Get the selected values from currencyA and currencyB dropdowns
            const currencyA = document.getElementById('currencyA').value;
            const currencyB = document.getElementById('currencyB').value;

            // Construct the URL with query parameters
            const url = `/plot?currency_a=${currencyA}&currency_b=${currencyB}`;
            console.log(`fetching to ${url}`)
            return fetch(url)
        }
        function get_graph() {
            // Make a GET request to the constructed URL
            get_graph_promise()
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to fetch data');
                    }
                })
                .then(data => {
                    // Get the base64 encoded image data from the JSON response
                    const imageData = data.image;

                    currency_b_rate = data.currency_b_rate;
                    console.log(currency_b_rate)

                    // Create an <img> element and set its src attribute to display the image
                    const imgElement = document.createElement('img');
                    imgElement.src = 'data:image/png;base64,' + imageData;

                    // Clear the previous content of the "graph" element
                    const graphElement = document.getElementById('graph');
                    graphElement.innerHTML = '';

                    // Append the <img> element to the "graph" element
                    graphElement.appendChild(imgElement);
                    console.log('got graph');

                })
                .catch(error => {
                    console.error('Error:', error);
                    console.log('got graph');
                });
        }

        function copy_map(m) {
            let newMap = {}
            for (const code in m) {
                newMap[code] = m[code];
            }
            return newMap
        }

        // implement some logic currencies swapped if user selects equal currencyCodesToNames[selectedCurrency]
        // on #currencyA and #currencyB
         // Attach an event listener to the #currencyA dropdown
        const currencyADropdown = document.getElementById('currencyA');
        // Attach an event listener to the #currencyA dropdown
        const currencyBDropdown = document.getElementById('currencyB');

        currencyADropdown.addEventListener('click', function () {
            lastAValue = currencyADropdown.value;
            // console.log('clicked on a')
        })

        currencyBDropdown.addEventListener('click', function () {
            lastBValue = currencyBDropdown.value;
            // console.log('clicked on b')
        })

        currencyADropdown.addEventListener('change', function() {
            const selectedCurrency = currencyADropdown.value;
            // console.log('Selected currency in #currencyA:', selectedCurrency);
            if (selectedCurrency === currencyBDropdown.value) {
                currencyBDropdown.value = lastAValue
                let tmp = currencyAValue.value
                currencyAValue.value = currencyBValue.value
                currencyBValue.value = tmp
                // console.log('switching b value to:', lastAValue);
            }
            get_graph()
        });

        currencyBDropdown.addEventListener('change', function() {
            const selectedCurrency = currencyBDropdown.value;
            // console.log('Selected currency in #currencyB:', selectedCurrency);

            if (selectedCurrency === currencyADropdown.value) {
                currencyADropdown.value = lastBValue
                 let tmp = currencyAValue.value
                currencyAValue.value = currencyBValue.value
                currencyBValue.value = tmp
                // console.log('switching a value to:', lastBValue);
            }
            get_graph()

        });


        currencyAValue.addEventListener('change', function (event) {
            console.log('currency a value is set to active')
            currency_a_value_active = true
            currency_b_value_active = false
        })

        currencyBValue.addEventListener('change', function (event) {
            console.log('currency b value is set to active')
            currency_a_value_active = false
            currency_b_value_active = true
        })
        // Add an input event listener to the input field
        currencyAValue.addEventListener("change", function(event) {
          const inputValue = event.target.value;
          if (inputValue === '' || currency_b_value_active) {
              return
          }

            let numberValue = Number(inputValue)
            let convertedValue = numberValue * currency_b_rate
            let roundedValue = Math.round((convertedValue + Number.EPSILON) * 100) / 100
            currencyBValue.value = roundedValue.toString()
        }, false);

        currencyBValue.addEventListener("change", function(event) {
          const inputValue = event.target.value;
          if (inputValue === '' || currency_a_value_active) {
              return
          }

            let numberValue = Number(inputValue)
            let convertedValue = numberValue / currency_b_rate
            let roundedValue = Math.round((convertedValue + Number.EPSILON) * 100) / 100
            currencyAValue.value = roundedValue.toString()
        },false);

        function roundNumber(num, scale) {
          if(!("" + num).includes("e")) {
            return +(Math.round(num + "e+" + scale)  + "e-" + scale);
          } else {
            var arr = ("" + num).split("e");
            var sig = ""
            if(+arr[1] + scale > 0) {
              sig = "+";
            }
            return +(Math.round(+arr[0] + "e" + sig + (+arr[1] + scale)) + "e-" + scale);
          }
        }

        // Function that initializes graph/currency values
        async function initializeCurrencyExchange() {
            get_currencies_promise()
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to fetch currency data');
                    }
                })
                .then(data => {
                     // Reverse the mapping from currency code to currency name
                    for (const code in data) {
                        currencyCodesToNames[code] = data[code];
                    }

                    // Reverse the mapping from currency code to currency name
                    for (const code in data) {
                        const name = data[code];
                        currencyNamesToCodes[name] = code;
                    }

                    currencies = copy_map(currencyNamesToCodes)

                    populate_with_options(currencies, '#currencyA', 1)
                    populate_with_options(currencies, '#currencyB')
                    console.log('got currencies');
                })
                .then(r => {
                    get_graph()
                })

        }
        // Now, call the async function to start the initialization
        initializeCurrencyExchange();
    </script>
</body>
</html>
