name: Hello world

on:
  push:
    branches:
      - 'dev'
      - 'main'
  pull_request:
    branches:
      - 'dev'
      - 'main'

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: Hello step
        run: echo 'Hello world!'
