name: Run steps

on:
  push:
    branches:
      - 'dev'
      - 'main'
  pull_request:
    branches:
      - 'dev'
      - 'main'

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
        working-directory: .

      - name: Run unit steps
        run: |
          python -m unittest discover tests
        working-directory: .

      - name: Run bdd steps
        run: |
          behave .\tests\bdd\features
        working-directory: .